.bar-container {
  width: 200px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: #82e4ff;
  transition: width 0.3s;
}
